%div

  %h2.h2 Listado de jugadores

  -# = simple_form_for(:filter, url: admin_patients_path, method: :get, html: { class: 'flex space-x-2' }) do |f|
  -#   = f.input :query, label: false, placeholder: 'Buscar paciente', input_html: { value: params[:filter].try(:[], :query), class: 'my-2' }
  -#   = f.button :submit, 'Buscar'
  -#   = link_to('Mostrar todos', admin_patients_path, class: 'btn-primary')
  -#   = link_to('Sólo los de hoy', admin_patients_path(today: 1), class: 'btn-primary')

  .py-4.mb-4
    = link_to( 'Nuevo', new_admin_team_player_training_day_path, class: 'btn-primary')

  .relative.overflow-x-auto
    %table.table
      %thead.thead
        %tr
          %th.px-6.py-3{:scope => "col"}= TrainingDay.human_attribute_name(:training_date)
          %th.px-6.py-3{:scope => "col"} Tiros libres
          %th.px-6.py-3{:scope => "col"} Tiros de 2
          %th.px-6.py-3{:scope => "col"} Tiros de 3
          %th.px-6.py-3{:scope => "col"}

      %tbody
        - @training_days.each do |training_day|
          %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
            %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{:scope => "row"}
              = l(training_day.training_date) 
            %td.px-6.py-4
              = "#{training_day.tl_percentage}% - #{training_day.free_throws_scored}/#{training_day.free_throws_totals}"
            %td.px-6.py-4
              = "#{training_day.t2_percentage}% - #{training_day.two_point_shots_scored}/#{training_day.two_point_shots_totals}"
            %td.px-6.py-4
              = "#{training_day.t3_percentage}% - #{training_day.three_points_shots_scored}/#{training_day.three_points_shots_totals}"
            %td.px-6.py-4
              = link_to( TrainingDay.model_name.human, edit_admin_team_player_training_day_path(@team, @player, training_day), class: 'btn-primary btn-small')

  .py-4.mb-4
    = link_to( 'Volver', admin_team_players_path, class: 'btn-secondary')
