= simple_form_for([:admin, @team, @player], html: { data: { turbo: false } }) do |f|
  .bg-gray-300.p-4.rounded
    = f.input :name
    = f.input :height
    = f.input :wingspan
    = f.input :weight 
    = f.input :birthday
    = f.input :dorsal
    = f.input :position, collection: t(Player::POSITION) 

  = f.button :submit, class: ' btn-primary '
  = link_to( 'Volver', admin_teams_path, class: ' btn-secondary ')
